/*~~~~~Background~~~~~*/
html{
    background:         linear-gradient(left, #200000, #100000, #0A0000);	
    background: -webkit-linear-gradient(left, #200000, #100000, #0A0000); 
    background:      -o-linear-gradient(left, #200000, #100000, #0A0000);
    background:    -moz-linear-gradient(left, #200000, #100000, #0A0000);
}

/*~~~~~Title Name~~~~~*/
a {
    color: white;
    position: relative;
    text-align: center;
}
/*~~~~Header~~~~*/

.header-home{
    position: relative;
    top:25px;
    height: 260px;
    font-family: Comic Sans, Arial;
    font-size: 100px;
	color: #E6E6E6;
	width:100%;
    background:         linear-gradient(left, #9F0000, #600000, #400000);
    background: -webkit-linear-gradient(left, #9F0000, #600000, #400000);
    background:      -o-linear-gradient(left, #9F0000, #600000, #400000);
    background:    -moz-linear-gradient(left, #9F0000, #600000, #400000);"
}

.header-home span{
    display: horizontal;
    height: 250px;
    padding-top: 5px;
    padding-left:5px;
    padding-bottom:5px;
    visibility: visible;
}
.header-home img{
    height: 250px;
}   
.header-home a{
    display: block;
}
/*~~~~~Top Bar~~~~~*/
/*~~~~~~~~~~~~~~~~~*/
.TopBar-Parent{  /*Basically the div above TopBar*/ 
    top:0px;
    width: 100%;
    z-index:9001;
    height:40px;
    background:         linear-gradient(left, #9F0000, #600000, #400000);
    background: -webkit-linear-gradient(left, #9F0000, #600000, #400000);
    background:      -o-linear-gradient(left, #9F0000, #600000, #400000);
    background:    -moz-linear-gradient(left, #9F0000, #600000, #400000);
    position:fixed;
}

.TopBar form{
    display: inline;
}
.TopBar form input{
    font-size: 25px;
    border-left: 2px solid black;
    margin-top:5px;
    padding: 0px 20px 0px 5px;
    background-color: #9F0000;  
    border: 0px;
    color: white;
}
/*~~~~~ Top Bar login~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~*/
button {
   font-size: 25px;
    border-left: 2px solid black;
    margin-top:5px;
    padding: 0px 20px 0px 5px;
    background-color: #9F0000;  
    border: 0px;
    color: white;
}

.Login-dropdown {
    position:fixed;
    left:0px;
    top:50px;
    display: none;
    width: 500px;
    right: 5px;
    z-index:9002;
    height:40px;
}

.Login-dropdown form input{
    width: 500px;
    top: 15px; 
    left: 10px;
    padding-left: 10px;
    font-size: 12px;
    border-left: 2px solid black;
    margin-top:10px;
    margin-left: 10px;
    margin-right: -8px;
    padding: 0px 20px 0px 5px;
    background-color: #FCFCFC;  
    border: 0px;
    color: blue;
}
.Login-dropdown form .login-submit{
    width: 15%;
    font-size: 12px;
    border-left: 2px solid black;
    margin-top:5px;
    padding: 0px 20px 0px 5px;
    background-color: #FCFCFC;  
    border: 0px;
    color: gray;
}



/*~~~~~Cite Summary~~~~~*/
.summary {
    position: relative;
    color: white;
    font-size: 25;
    font-weight: light;
    top: 50px;
    text-align: center;
    border: 1px solid black;
}

/*~~~~~Contributers~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~*/
table{
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    background:         linear-gradient(left, #300000, #200000, #1A0000);	
    background: -webkit-linear-gradient(left, #300000, #200000, #1A0000);
    background:      -o-linear-gradient(left, #300000, #200000, #1A0000);
    background:    -moz-linear-gradient(left, #300000, #200000, #1A0000);
    border-top-left-radius: 50px;
}
/*~~~~~Contributers Desciptions~~~~~*/
td div{
    width: 300px; 
    height: 500px; 
    background:         linear-gradient(left, #400000, #300000, #1A0000);	
    background: -webkit-linear-gradient(left, #400000, #300000, #1A0000);
    background:      -o-linear-gradient(left, #400000, #300000, #1A0000);
    background:    -moz-linear-gradient(left, #400000, #300000, #1A0000);
    margin: 25px;
    border-top-left-radius: 25px;
}
/*~~~~~~Contributers Names~~~~~*/
td h1{
    color: #997777;
    text-align: center;
}/*~~~~~~~~~~~~~~~~~~~~~~*/
